<%
function dateFormat(date_string) {
    var d = new Date(date_string);
    var r = d.getMonth()+'/'+d.getDate()+' '+d.toLocaleTimeString().slice(0,-6);
    if(d.toLocaleTimeString().slice(-2) == 'PM') {
        r += 'p';
    }
    return r;
}
%>
<ul>
<% if (locals.mail && Array.isArray(mail) && mail.length > 0) {
    mail.forEach(function(m) { 
    /* probably want to change date display to local time */
        if(m.isReminder) {
    %>
        <li class="mail reminder collapsed" id="mail:<%= m.id %>">
            <div class="summary">
                <div class="label">REMINDER</div>
                <div class="label"><%= dateFormat(m.time) %></div>
                <div><%= m.subject %></div>
            </div>
            <div class="delete btn" data-id="<%= m.id %>">Delete</div>
            <div class="content">
                <div class="label">SUBJECT</div>
                <div><%= m.subject %></div>
                <div class="label">TIME</div>
                <div><%= new Date(m.time).toLocaleString() %></div>
            </div>
        </li>
    <% }else{ %>
        <li class="mail collapsed" id="mail:<%= m.id %>">
            <div class="summary">
                <div class="label"><%= dateFormat(m.time) %></div>
                <div><%= m.subject %></div>
                <div class="label">TO</div>
                <div><%= m.to %></div>
            </div>
            <div class="edit btn" data-id="<%= m.id %>">Edit</div>
            <div class="delete btn" data-id="<%= m.id %>">Delete</div>
            <div class="content">
                <div class="label">SUBJECT</div>
                <div><%= m.subject %></div>
                <div class="label">TO</div>
                <div><%= m.to %></div>
                <div class="label">TIME</div>
                <div><%= new Date(m.time).toLocaleString() %></div>
                <div class="label">BODY</div>
                <div><%= m.body %></div>
            </div>
        </li>
<% }
}); } else { %>
    <li>No mail</li>
<% } %>
</ul>
